/* Section styles */
.section {
    background-color: var(--section-bg);
    padding: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.section.visible {
    opacity: 0.9;
    transform: translateY(0);
} 